<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="layout (template, menu)">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <title>QCM</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
      <link rel="stylesheet" th:href="@{/css/eleves.css}">
  </head>

<body>

  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" th:href="@{/}">
                  <img th:src="@{/images/spring-logo-dataflow.png}" width="100" alt="Spring logo">
              </a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                  <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="navbar-collapse collapse" id="main-navbar">
              <ul class="nav navbar-nav navbar-right">
  
                  <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active==menu ? 'active' : ''}">
                      <a th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span th:text="${text}">Template</span>
                      </a>
                  </li>
  
                  <li th:replace="::menuItem ('/','home','home page','home','Home')">
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      <span>Home</span>
                  </li>
  
                  <li th:replace="::menuItem ('/formations/','formations','formations','search','Formations')">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      <span>Formation</span>
                  </li>
  
                  <li th:replace="::menuItem ('/qcms/','qcm','qcm','th-list','QCM')">
                      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                      <span>QCM</span>
                  </li>

                  <li th:replace="::menuItem ('/eleves/','eleves','eleves','th-list','Eleves')">
                      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                      <span>Eleves</span>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <div class="container-fluid">
      <div class="container xd-container">
  
          <th:block th:include="${template}"/>

        <br/>
        <br/>
      </div>
  </div>

  <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>

</html>
